# /FreeJiTA/terraform.tfstate
# /FreeJiTA/terraform.tfstate.backup
# /FreeJiTA/.terraform.lock.hcl
# /FreeJiTA/.terraform/*

# Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*
*.lock.*

# Crash log files
crash.log